<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Introduction" data-toc-modified-id="Introduction-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Introduction</a></span></li><li><span><a href="#Objectives" data-toc-modified-id="Objectives-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Objectives</a></span></li><li><span><a href="#CRM-Schema" data-toc-modified-id="CRM-Schema-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>CRM Schema</a></span></li><li><span><a href="#Connecting-to-the-Database" data-toc-modified-id="Connecting-to-the-Database-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Connecting to the Database</a></span></li><li><span><a href="#Display-the-names-of-all-the-employees-in-Boston." data-toc-modified-id="Display-the-names-of-all-the-employees-in-Boston.-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Display the names of all the employees in Boston.</a></span></li><li><span><a href="#Do-any-offices-have-no-employees?" data-toc-modified-id="Do-any-offices-have-no-employees?-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Do any offices have no employees?</a></span></li><li><span><a href="#Write-3-Questions-of-your-own-and-answer-them" data-toc-modified-id="Write-3-Questions-of-your-own-and-answer-them-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Write 3 Questions of your own and answer them</a></span></li><li><span><a href="#Level-Up:-Display-the-names-of-each-product-each-employee-has-sold." data-toc-modified-id="Level-Up:-Display-the-names-of-each-product-each-employee-has-sold.-8"><span class="toc-item-num">8&nbsp;&nbsp;</span>Level Up: Display the names of each product each employee has sold.</a></span></li><li><span><a href="#Level-Up:-Display-the-Number-of-Products-each-Employee-Has-sold" data-toc-modified-id="Level-Up:-Display-the-Number-of-Products-each-Employee-Has-sold-9"><span class="toc-item-num">9&nbsp;&nbsp;</span>Level Up: Display the Number of Products each Employee Has sold</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-10"><span class="toc-item-num">10&nbsp;&nbsp;</span>Summary</a></span></li></ul></div>

# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge on Join statements.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table we will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, we'll use the same Customer Relationship Management (CRM) database we used in our lecture before!
<img src='Database-Schema.png' width=550>

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [1]:
#Your code here
import sqlite3
conn = sqlite3.connect('data.sqlite')
cur = conn.cursor()

## Display the names of all the employees in Boston.

In [10]:
#Your code here
cur.execute('''SELECT lastName, firstName From employees  
            JOIN offices ON employees.officeCode = offices.officeCode;''').fetchall()

[('Murphy', 'Diane'),
 ('Patterson', 'Mary'),
 ('Firrelli', 'Jeff'),
 ('Patterson', 'William'),
 ('Bondur', 'Gerard'),
 ('Bow', 'Anthony'),
 ('Jennings', 'Leslie'),
 ('Thompson', 'Leslie'),
 ('Firrelli', 'Julie'),
 ('Patterson', 'Steve'),
 ('Tseng', 'Foon Yue'),
 ('Vanauf', 'George'),
 ('Bondur', 'Loui'),
 ('Hernandez', 'Gerard'),
 ('Castillo', 'Pamela'),
 ('Bott', 'Larry'),
 ('Jones', 'Barry'),
 ('Fixter', 'Andy'),
 ('Marsh', 'Peter'),
 ('King', 'Tom'),
 ('Nishi', 'Mami'),
 ('Kato', 'Yoshimi'),
 ('Gerard', 'Martin')]

## Do any offices have no employees?

In [14]:
#Your code here
cur.execute('''SELECT * FROM employees  
            RIGHT JOIN offices ON employees.officeCode = offices.officeCode
            WHERE employees.officeCode is NULL;''').fetchall()

OperationalError: RIGHT and FULL OUTER JOINs are not currently supported

## Write 3 Questions of your own and answer them

In [ ]:
# Answers will vary

In [ ]:
# Your code here

In [ ]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold.

In [ ]:
# Your code here

## Level Up: Display the Number of Products each Employee Has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use Join statements, along with leveraging your foreign keys knowledge!